

<%= link_to "Add a Product", new_product_path %>

<h1>Products <small><%= page_entries_info @products %></small></h1>

<!--Search Form-->

<%= form_tag products_path, method: :get, authentication: false, id: 'search-form' do %>
	<%= text_field_tag :search, params[:search] %>
	<%= submit_tag "Search" %>
<% end %>

<div id="container">
	<!--Product List -->
	<table class="table table-hover">
		<thead>
			<tr>
				<td> Pictures </td>
				<td> Name </td>
				<td> Description </td>
				<td> Prices </td>
				<td></td>
				<td></td>
				<td>
			</tr>
		</thead>
		<tbody id='products'>
			<%= render @products %>
		</tbody>

	</table>
</div>


<!-- outputs several pagination links such as « First ‹ Prev ... 2 3 4 5 6 7 8 9 10 ... Next › Last » -->
<%= paginate @products %>
